body {
    text-align: center;
}


.container {
    width: 270px;
    min-height: 50px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid gray;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 10px;

}


.container .box {

    font-size: 30px;
    font-family: 'Coda Caption', sans-serif;

}


.container .score-item {

    text-align: left;
    display: inline-block;
    min-width: 70px;
    color: blue;

}


.container .lives-item {

    color:blue;

}

.container .score-label {

    color: black;

}


.container .score-lives {

    color: black;;

}

/*
* Styles for the modal dialog box
*/
.modal {

    width: 100%;
    height: 100%;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    padding: 24px;
    background-color: #fff;
    z-index: 3; /* places the modal on top of everything */
    position: fixed;
    top: 0px;
    left: 0px;
    display: none;


}


.modal p {

    font-size: 30px;
    position: absolute;
    top: 150px;
    left: 570px;

}


.modal .modal-images {

    position: absolute;
    left: 460px;
    top: 240px;

}


.modal img {

    margin-right: 10px;
    box-sizing: border-box;
}


.modal img:last-of-type {

    margin-right: 0px;

}



.modal img:focus {

    outline: 0;
   /* border: 1px solid black;*/
}


.modal .modal-rectangles .rectangle {

    height: 5px;
    width: 67px;
    background-color: gray;
    border-radius: 3px;
    box-shadow: 3px 3px 8px #888888;
    display: none;
}


.modal .modal-rectangles .show {

    display: block;

}

.modal .modal-rectangles .rectangle-one {
   
    position: absolute;
    left: 460px;
    top: 335px;
}


.modal .modal-rectangles .rectangle-two {
   
    position: absolute;
    left: 544px;
    top: 335px;
}


.modal .modal-rectangles .rectangle-three {
   
    position: absolute;
    left: 633px;
    top: 335px;
}


.modal .modal-rectangles .rectangle-four {
   
    position: absolute;
    left: 720px;
    top: 335px;
}

.modal .modal-rectangles .rectangle-five {
   
    position: absolute;
    left: 815px;
    top: 335px;
}