body {
    text-align: center;
}


.container {
    width: 270px;
    min-height: 50px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid gray;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 10px;

}


.container .box {

    font-size: 30px;
    font-family: 'Coda Caption', sans-serif;

}


.container .score-item {

    text-align: left;
    display: inline-block;
    min-width: 70px;

}
